<footer>
	<div>
		<!-- Logo and Description -->
		<div class="footer-logo">
			<img src="{{asset('assets/images/logo.png')}}" alt="Logo">
		</div>
		<p>Recettes d’ici et d’ailleurs, histoires de partout.</p>

		<!-- Navigation Links -->
		<nav>
			<ul>
				<li><a href="{{path ('user-home')}}">Accueil</a></li>
				<li><a href="{{path ('user-about')}}">À propos</a></li>
			</ul>
		</nav>

		<!-- Legal Mentions and Copyright -->
		<div class="footer-bottom">
			<p>&copy; 2025 Saveurs Collectives. Tous droits réservés.</p>
		</div>
	</div>
</footer>
