{% extends "guest/base.html.twig" %}

{% block title %}Login
{% endblock %}

{% block main %}
	<main>
		<h2>Connexion</h2>

		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
		{% for message in app.flashes ('error') %}
			<div class="alert alert-danger">{{message}}</div>
		{% endfor %}

		{% for message in app.flashes ('success') %}
			<div class="alert alert-success">{{message}}</div>
		{% endfor %}
		
		<form method="POST" action="{{path('login')}}">
			<input type="email" name="_username" placeholder="Email" required>
			<input type="password" name="_password" placeholder="Mot de passe" required>
			<button type="submit" class="auth-btn">Se connecter</button>
		</form>
	</main>
{% endblock %}
